<!--<div class="header" style="text-align:center">
  <h1>
    CROP AI
  </h1>
</div>

<br />
<div class="search">
  <mat-form-field class="search-form">
    <input
      matInput
      placeholder="Please type in a location or a crop."
      type="text"
    />
  </mat-form-field>
  <button button="submit" mat-raised-button color="primary">Search</button>
  <br />
</div>

<section>
  <div class="card-header"style="text-align:center" *ngFor="let title of titles">
    {{ title }}

    <div
        fxLayout="column"
        fxLayout.md="row"
        fxLayoutWrap>
        <mat-card class="card-picture" *ngFor="let picture of pictures">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <span fxFlex="80%">{{ picture.title }}</span>
          </mat-card-title>
          <img mat-card-image [src]="picture.img" />
        </mat-card>
      </div>
  </div>
</section>

<div>
  footer goes here.
</div>
-->
<!-- <iframe style="margin: 0 auto;height: -webkit-fill-available; width: 100%;" *ngIf="embeddedDashboard !== ''" [src]="embeddedDashboard"></iframe> -->
<div class="home">
  <nav>
    <div id="top-nav">
      <div class="btn-container"></div>

      <!--<div id="home-btn">
        <a href="/"><img src="/static/img/logo_sm.png" alt="Data USA" style="width:78px" /></a>
      </div>-->

      <div id="cart-btn">
        <a href="/cart/"></a>
      </div>

      <div id="search-btn" data-results="search-simple-nav">
        <a href="/search/?q=" class="m-hotspot"></a>
        <div class="search-box">
          <input id="nav-search-input" class="search-input" data-search="simple-nav" type="text"
            placeholder="Press Enter to refine search" data-ga="navSearchClick" data-ga-cat="navigation"
            data-ga-label="Search icon clicked" />
        </div>
        <div class="search-i"><img src="/static/img/search/search_w.svg" alt="Search" /></div>
        <!-- <i class="fa fa-search"></i> -->
      </div>
    </div>
  </nav>

  <div id="menu">
    <div class="menu-content">
      <ul>
        <li class="profile-sum">
          <a href="/search/">
            <h2>Explore</h2>
          </a>
          <ul>
            <li class="geo-sum">
              <a href="/search/?kind=geo">Locations</a>
            </li>
            <li class="naics-sum">
              <a href="/search/?kind=naics">Industries</a>
            </li>
            <li class="soc-sum">
              <a href="/search/?kind=soc">Occupations</a>
            </li>
            <li class="cip-sum">
              <a href="/search/?kind=cip">Degrees</a>
            </li>
            <li class="university-sum">
              <a href="/search/?kind=university">Universities</a>
            </li>
          </ul>
        </li>
        <li class="data-sum">
          <a href="/story/">
            <h2>Stories</h2>
          </a>
        </li>
        <li class="data-sum">
          <a href="/map/">
            <h2>Maps</h2>
          </a>
        </li>
        <li class="data-sum">
          <a href="/cart/">
            <h2>Cart</h2>
          </a>
        </li>
        <li class="data-sum">
          <a href="/about/">
            <h2>About</h2>
          </a>
        </li>
        <li class="data-sum">
          <a href="/about/datasets/">
            <h2>Data</h2>
          </a>
        </li>
      </ul>
    </div>



  </div>

  <div id="search-simple-nav" class="search-body">
    <div class="no-search-results">No results found</div>
    <div class="search-results"></div>

    <section class="results-show-all">
      <a href="/search/">Show all results <span class="more"></span></a>
    </section>
  </div>


  <div class="bg">
    <div class="line"></div>
  </div>

  <div class="home-full">

    <section class="home-desc new">
      <h1 class="white">Crop.AI</h1>
      <h2 class="tagline">
        Search by county, state, or crop
      </h2>
    </section>
    <section class="search-home-container new">
      <div class="search-input-btn">
        <input placeholder="ex. California, Montgomery County, MD, Corn" type="text" data-results="search-home"
          data-search="home" id="home-search-input" class="search-input" />
        <a href="/search/" id="search-switch" class="adv" onclick="advSearch.toggle();">Search</a>
      </div>
      <div id="search-home" class="search-body">
        <div class="no-search-results">No results found</div>
        <div class="search-results"></div>
      </div>
      <section class="results-show-all">
        <a href="/search/" class="pri-link">Show all results <span class="more"></span></a>
      </section>
    </section>

  </div>

  <div class="home-collab">
    <a target="_blank" href="http://www.accenture.com"><img id="accenture"
        src="../../assets/Accenture-logo.png" /></a>
  </div>

  <div class="feed-flex">
    <div id="feed" class="carousel rank-0 primary">
      <h3 class="carousel-title">
        <a href="/map"> <img class="icon" src="../../assets/demographics.svg" />
          Maps
        </a> </h3>

      <a href="/map/?level=state&amp;key=opioid_overdose_deathrate_ageadjusted" class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image"
            style="background-image:url('/static/img/home/maps/opioid_overdose_deathrate_ageadjusted.png');"></div>
          <div class="feed-box-title">Sum of Liability by State and Crop Name</div>
        </div>
        <div class="feed-box-tag">New</div>
      </a>
      <a href="/map/?level=county&amp;key=default_rate,num_borrowers,num_defaults" class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image" style="background-image:url('/static/img/home/maps/default_rate.png');"></div>
          <div class="feed-box-title">Sum of Liability by State and Cause Of Loss Description</div>
        </div>
        <div class="feed-box-tag">New</div>
      </a>
      <a href="/map/?level=state&amp;key=non_medical_use_of_pain_relievers" class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image"
            style="background-image:url('/static/img/home/maps/non_medical_use_of_pain_relievers.png');"></div>
          <div class="feed-box-title">Sum of Loss Ratio by State and Crop</div>
        </div>
        <div class="feed-box-tag">New</div>
      </a>
      <a href="/map/?level=county&amp;key=total_reimbursements_b" class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image" style="background-image:url('/static/img/home/maps/total_reimbursements_b.png');">
          </div>
          <div class="feed-box-title">Sum of Loss Ratio by State and Cause Of Loss Description</div>
        </div>
      </a>
      <a href="/map/?level=county&amp;key=income_below_poverty:pop_poverty_status,income_below_poverty,income_below_poverty_moe,pop_poverty_status,pop_poverty_status_moe"
        class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image" style="background-image:url('/static/img/home/maps/income_below_poverty.png');">
          </div>
          <div class="feed-box-title">Net Acres by State and Crop</div>
        </div>
      </a>
    </div>
    <div id="feed" class="carousel rank-university primary">
      <h3 class="carousel-title">
        <a href="/search/?kind=university"> <img class="icon" src="../../assets/predictions.svg" />
          Predictions
        </a> </h3>

      <a href="/profile/university/massachusetts-institute-of-technology" class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image" style="background-image:url('/search/university/166683/img');"></div>
          <div class="feed-box-title">USA Liability Forecast by Quarter</div>
        </div>
        <div class="feed-box-tag">New</div>
      </a>
      <a href="/profile/university/university-of-maryland-college-park" class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image" style="background-image:url('/search/university/163286/img');"></div>
          <div class="feed-box-title">AnomalyDetectionText</div>
        </div>
        <div class="feed-box-tag">New</div>
      </a>
      <a href="/profile/university/university-of-notre-dame" class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image" style="background-image:url('/search/university/152080/img');"></div>
          <div class="feed-box-title">AnomalyDetectionText</div>
        </div>
        <div class="feed-box-tag">New</div>
      </a>
      <a href="/profile/university/university-of-chicago" class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image" style="background-image:url('/search/university/144050/img');"></div>
          <div class="feed-box-title">AnomalyDetectionText</div>
        </div>
        <div class="feed-box-tag">New</div>
      </a>
      <a href="/profile/university/northeastern-university" class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image" style="background-image:url('/search/university/167358/img');"></div>
          <div class="feed-box-title">AnomalyDetectionText</div>
        </div>
        <div class="feed-box-tag">New</div>
      </a>
    </div>
    <div id="feed" class="carousel rank-0 primary">
      <h3 class="carousel-title">
        <a href="/search/?kind=geo"> <img class="icon" src="../../assets/geo.svg" />
          Counties &amp; States
        </a> </h3>

      <a href="/profile/geo/new-york-ny" class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image" style="background-image:url('/search/geo/16000US3651000/img');"></div>
          <div class="feed-box-title">New York, NY</div>
        </div>
      </a>
      <a href="/profile/geo/los-angeles-county-ca" class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image" style="background-image:url('/search/geo/05000US06037/img');"></div>
          <div class="feed-box-title">Los Angeles County, CA</div>
        </div>
      </a>
      <a href="/profile/geo/florida" class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image" style="background-image:url('/search/geo/04000US12/img');"></div>
          <div class="feed-box-title">Florida</div>
        </div>
      </a>
      <a href="/profile/geo/suffolk-county-ma" class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image" style="background-image:url('/search/geo/05000US25025/img');"></div>
          <div class="feed-box-title">Suffolk County, MA</div>
        </div>
      </a>
      <a href="/profile/geo/illinois" class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image" style="background-image:url('/search/geo/04000US17/img');"></div>
          <div class="feed-box-title">Illinois</div>
        </div>
      </a>
    </div>
    <div id="feed" class="carousel rank-naics primary">
      <h3 class="carousel-title">
        <a href="/search/?kind=naics"> <img class="icon" src="../../assets/crop.svg" />
          Crops
        </a> </h3>

      <a href="/profile/naics/622" class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image" style="background-image:url('/search/naics/622/img');"></div>
          <div class="feed-box-title">Corn</div>
        </div>
      </a>
      <a href="/profile/naics/23" class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image" style="background-image:url('/search/naics/23/img');"></div>
          <div class="feed-box-title">Sorghum</div>
        </div>
      </a>
      <a href="/profile/naics/31-33" class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image" style="background-image:url('/search/naics/31-33/img');"></div>
          <div class="feed-box-title">Soybeans</div>
        </div>
      </a>
      <a href="/profile/naics/722Z" class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image" style="background-image:url('/search/naics/722Z/img');"></div>
          <div class="feed-box-title">Wheat</div>
        </div>
      </a>
      <a href="/profile/naics/44-45" class="feed-box">
        <div class="feed-box-contents">
          <div class="feed-box-image" style="background-image:url('/search/naics/44-45/img');"></div>
          <div class="feed-box-title">Clams</div>
        </div>
      </a>
    </div>
  </div>
</div>