<div class="header" style="text-align:center">
  <h1>
    CROP AI
  </h1>
</div>

<br />
<div class="search">
  <mat-form-field class="search-form">
    <input
      matInput
      placeholder="Please type in a location or a crop."
      type="text"
    />
  </mat-form-field>
  <button button="submit" mat-raised-button color="primary">Search</button>
  <br />
</div>

<section>
    <div class="card-header" *ngFor="let title of titles">
      {{ title }}
      <div
        fxLayout="row"
        fxLayout.md="column"
        fxLayoutWrap
        fxLayoutGap="1.0%"
        fxLayoutAlign="center">
        <mat-card class="card-picture" *ngFor="let picture of pictures">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <span fxFlex="80%">{{ picture.title }}</span>
          </mat-card-title>
          <img mat-card-image [src]="picture.img" />
        </mat-card>
      </div>
    </div>
</section>

<div>
  footer goes here.
</div>

<!-- <iframe style="margin: 0 auto;height: -webkit-fill-available; width: 100%;" *ngIf="embeddedDashboard !== ''" [src]="embeddedDashboard"></iframe> -->
