.img {
  width: 100%;
  margin-bottom: 18%;
}
.container {
  min-height: 100%;
  width: 100%;
}
.card-picture {
  width: 50%;
  margin-bottom: 4% !important;
}

.search-form {
  width: 90%;
}
.card-header {
  display: table-cell;
}